<div class="container pt-3">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-6">
        <div class="card border-info">
            <div class="card-header">Inicio de sesión</div>
            <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="https://placeimg.com/128/128/nature">
                </div>
                <div class="col-md-8">

                    <input type="text" class="form-control mb-2" placeholder="Correo" #userEmail required>
                    <input type="password" class="form-control mb-2" placeholder="Contraseña" #userPassword required>
                    <button  class="btn btn-lg btn-primary btn-block mb-1"  (click)="authService.login(userEmail.value, userPassword.value)">Ingresar</button>
                    <div class="linksContainer">
                        <a routerLink="/admin/forgot-password">Contraseña Olvidada?</a> <a routerLink="/admin/register">Registrar</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>